@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$btn_radius: 10px;
$btn_color_default: rgb(124, 189, 233);
$offset: rgb(20, 20, 20);
$btn_color_hover: $btn_color_default - $offset;
$btn_color_pressed: $btn_color_default - $offset * 2;
$border: 1px solid $btn_color_default;
h3{
  padding: 0;
  margin: 0;
}
*{
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.by-btn, .btn-cart{
  background-color: $btn_color_default;
  border: $border;
  border-radius: $btn_radius;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  &:hover, &:active{
    box-shadow: 0px 0px 6px 0px $btn_color_default;
  }
  &:hover{
    background-color: $btn_color_hover;
  }
  &:active{
    background-color: $btn_color_pressed;
    transform: scale(0.97);
  }
}
.header{
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}
.btn-cart{
  grid-column: 2/3;
  grid-row: 0/1;
  max-width: 100px;
  justify-self: right;
  margin: 10px;
}
.products{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.product-item{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 10px 15px;
  border: 1px solid black;
  &:not(:last-of-type){
    margin-right: 10px;
  }
}